:root{
    --blue-color: #328cdc;
    --grey-color: #d2dcdc;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

.header {
    background-color: white;
    grid-area: 1 / 2 / 2 / -1;
}

.sidebar {
    background-color: var(--blue-color);
    grid-area: 1 / 1 / -1 / 2;
}

.main {
    background-color: var(--grey-color);
    grid-area: 2 / 2 / -1 / -1;
}