@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Regular.woff");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("./fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("./fonts/Roboto-Bold.ttf");
}

:root{
    --blue-color: #328cdc;
    --darker-blue-color: #2165a0;
    --grey-color: #d2dcdc;
    --darker-grey-color: #adb8b8;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 5fr / 250px 5fr;
}

.header, .sidebar { 
    padding-right: 5%;
}

.header {
    position: relative;
    background-color: white;
    box-shadow: 6px 0px 8px 6px #888888;
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top {
    min-width: 800px;
    display: grid;
    grid-template-columns: auto clamp(320px, 30%, 400px);
    justify-items: center;
    align-items: center;
}

.search {
    width:100%;
    
    display: grid;
    grid-template-columns: 28px 70%;
    gap: 4px;
    justify-content: start;
    align-items: center;
}

.search > input {
    font-size: 1rem;
    padding: 0.6rem 12px;
    border: none;
    border-radius: 18px;
    background-color: var(--grey-color);
}

.search > input:focus {
    outline: none;
}

.top, .bottom {
    margin-left: 5%;
}

.user {
    font-family: Roboto-Bold, Helvetica, sans-serif;
}

.top > .user {
    font-size: 1.2rem;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-areas: ". bell icon name";
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.bell-container {
    padding: 16px;
    border-radius: 50%;
    background-color: var(--grey-color);
    grid-area: bell;
}

.bell-container:active {
    background-color: var(--darker-grey-color);
}

.user-name {
    text-align: center;
    justify-self: center;
    grid-area: name;
}

.top .user-icon {
    width: max(15%, 48px);
    border-radius: 50%;
    grid-area: icon;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 16px;
    padding-bottom: 24px;
}

.bottom > .user {
    display: grid;
    grid-template-columns: min(20%, 80px) auto;

    align-items: center;
}

.bottom p {
    margin: 0;
}

.greeting {
    font-size: 1.0rem;
}

.name {
    font-size: 1.5rem;
}

.bottom .user-icon {
    width: max(20%, 64px);
    border-radius: 50%;
    justify-self: start;
    margin-right: 8px;
}

ul {
    list-style-type: none;
}

.bottom > ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: end;
    gap: 4px;
}

.file-buttons > li {
    margin: 0;
    padding: 0;

}

.file-buttons > li > button {
    font: 1.0rem Roboto-Medium, Helvetica, sans-serif;
    min-width: 120px;
    background-color: var(--blue-color);
    color: white;
    border: none;
    border-radius: 24px;
    padding: 8px 2rem;
}

.file-buttons > li > button:active {
    background-color: var(--darker-blue-color);
}

.sidebar {
    background-color: var(--blue-color);
    grid-area: 1 / 1 / -1 / 2;
}

.sidebar {
    color: white;
    font: 1.2rem Roboto-Medium, Helvetica, sans-serif;
    padding-left: 0.3rem;
    display: grid;
    grid-template: 96px repeat(10, 48px) / 64px 1fr;
    align-items: center;
}

.sidebar > .fa {
    font-size: 1.5rem;
    justify-self: center;
}

.sidebar > .fa.fa-desktop {
    font-size: 2rem;
    justify-self: center;
}

.main {
    background-color: var(--grey-color);
    grid-area: 2 / 2 / -1 / -1;
}